header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    padding-top: 50px; 
    margin-bottom: 80px;
}

main {
    padding: 3%;
    min-height: 100vh;
}

.footer-container {
    background-color: #333;
    color: #fff;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; /* Center the container */
}

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
    color: #ddd;
    text-decoration: underline;
}

.left-col {
    text-align: left;
}

.right-col {
    text-align: right;
}

/* For smaller screens have in one col */
@media (max-width: 768px) {
    .left-col,
    .right-col {
        width: 100%;
        text-align: center;
    }

    .footer-container {
        justify-content: center;
        display: grid;
    }
}

.page-title {
    margin-bottom: 20px;
    text-align: center;
}


.container {
    max-width: 85%;
}

/* Fade in */

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


/* About section */

.about-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about-section {
    width: 30%;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h3 {
    color: #333;
}

.about-section ul {
    list-style-type: none;
    padding: 0;
}

.about-section ul li {
    margin-bottom: 5px;
}


/* Project containers */
.project-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5%;
    margin: 2% 0;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.project-container:hover {
    border: 2px solid #555; /* Darker grey for hover */
    transform: scale(1.05);
}

.project-container .project-link {
    align-self: flex-start;
    margin-top: 15px;
}

.project-technologies {
    font-size: 0.9em;
    margin-bottom: 8px;
}

.project-description {
    margin-bottom: 16px;
}

.project-link {
    padding: 8px 16px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.project-link:hover {
    color: #fff;
}

.date {
    font-size: 0.8em;
    color: #777;
    justify-content: flex-end;
}


/* Education - Uses some of project as well */
.entry-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.entry-header p {
    margin: 0;
}



